/* Universal */
html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

/* Header */
header {
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 50px;
    width: auto;
    margin-left: 10px;
}

header ul {
    list-style-type: none;
    display: flex;
    float: right;
}

header a {
    color: seashell;
    margin: 20px;
}

/* Body */

/* Body */ /*Our Mission*/

.mission {
    background-image: url("img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    display: flex;
    justify-content: center;
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    padding-top: 69px;
}

.mission div {
    width: 100%;
    opacity: 0.9;
    background-color: black;
}

/* Body */ /*Tea of the Month*/
.teamonth div {
    display: inline-block;
    justify-content: center;
}

.monthly {
    max-width: 1000px;
    display: inline-block;
    justify-content: center;

}

.teamonth div img {
    height: 200px;
    width: 300px;
}

/* Body */ /*Locations*/

div.loco {
    background-image: url("img-locations-background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
}

.loco_boxs div {
    display: inline-block;
    width: 300px;
    background-color: black;
    opacity: 0.9;
}

/* Body */ /*Pre-Footer*/

.prefooter {
    height: 200px;
}

/* Footer */
footer h5 {
    float: left;
    margin-left: 20px;
}